[submodule "TheDialgaTeam.Core.Logger"]
	path = TheDialgaTeam.Core.Logger
	url = https://github.com/TheDialgaTeam/TheDialgaTeam.Core.Logger.git
[submodule "Xirorig.Native/xirorig_native/vcpkg"]
	path = Xirorig.Native/xirorig_native/vcpkg
	url = https://github.com/microsoft/vcpkg
