[submodule "TheDialgaTeam.Microsoft.Extensions.DependencyInjection"]
	path = TheDialgaTeam.Microsoft.Extensions.DependencyInjection
	url = https://github.com/TheDialgaTeam/TheDialgaTeam.Microsoft.Extensions.DependencyInjection.git
[submodule "Xiropht-Connector-All"]
	path = Xiropht-Connector-All
	url = https://github.com/XIROPHT/Xiropht-Connector-All.git
